{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- CONTENT -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 fw-bold text-center">
              Sign up
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Simplify your workflow in minutes.
            </p>

            <!-- Form -->
            <form class="mb-6">
            {{ form_start(registrationForm) }}
              <!-- Role -->
              <div class="form-group">
                <label class="form-label" for="roles">
                  Who are you ?
                </label>
                <select>
                  <option value="ROLE_CLIENT">Client</option>
                  <option value="ROLE_USER">Artisan</option>
                </select>
              </div>
              
              <!-- Nom -->
              <div class="form-group">
                <label class="form-label" for="nom">
                  {{ form_label(registrationForm.nom) }}
                </label>
                {{ form_widget(registrationForm.nom) }}
              </div>

              <!-- Prenom -->
              <div class="form-group">
                <label class="form-label" for="prenom">
                  {{ form_label(registrationForm.prenom) }}
                </label>
                {{ form_widget(registrationForm.prenom) }}
              </div>

              <!-- CIN -->
              <div class="form-group">
                <label class="form-label" for="cin">
                  {{ form_label(registrationForm.cin) }}
                </label>
                {{ form_widget(registrationForm.cin) }}
              </div>

              <!-- Telephone -->
              <div class="form-group">
                <label class="form-label" for="telephone">
                  {{ form_label(registrationForm.telephone) }}
                </label>
                {{ form_widget(registrationForm.telephone) }}
              </div>
              
              <!-- Address -->
              <div class="form-group">
                <label class="form-label" for="address">
                  {{ form_label(registrationForm.address) }}
                </label>
                {{ form_widget(registrationForm.address) }}
              </div>
              
              <!-- Email -->
              <div class="form-group">
                <label class="form-label" for="email">
                  {{ form_label(registrationForm.email) }}
                </label>
                <!--input type="email" class="form-control" id="email" placeholder="name@address.com"-->
                {{ form_widget(registrationForm.email) }}
              </div>
              

              <!-- Password -->
              <div class="form-group mb-5">
                <label class="form-label" for="password">
                  {{ form_label(registrationForm.plainPassword) }}
                </label>
                <!--input type="password" class="form-control" id="password" placeholder="Enter your password"-->
                {{ form_widget(registrationForm.plainPassword) }}
              </div>

              <!-- SUBMIT -->
              <div class="form-group mb-0">
                {{ form_widget(registrationForm.register) }}
              </div>

            {{ form_end(registrationForm) }}
            </form>

            <!-- Text -->
            <p class="mb-0 fs-sm text-center text-muted">
              Already have an account? <a href="{{ path('admin') }}">Log in</a>.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}